@import '@shared/styles/variables.scss';

.accessible-modal {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10001;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100vh;
	background: rgba($black-primary, 0.95);

	&__document {
		position: relative;
		width: 100%;
		height: 100%;
	}
}
